<div class="container">
  <!-- tool bar -->
  <!-- Display Category, Config and Summary button -->
  <span *ngFor="let page of pages">
    <button *ngIf="page==selectedPage" class="active" (click)="setWork()">{{page}}</button>
    <button *ngIf="page!=selectedPage" [(value)]="page" class="item" (click)="setPage($event)">{{page}}</button>
  </span>
  <span *ngIf='work'>{{homeDir}}</span>

  <!-- config view -->
  <div *ngIf="config">
      {{activeAccount}}
    <app-config [(categories)]="categories"></app-config>
  </div>
  <!-- summary view -->
  <div *ngIf="summary">
      {{activeAccount}}
    <app-summary [(categories)]="categories"></app-summary>
  </div>
  <!-- work view -->
  <div *ngIf="work">
    <div class="row">
      <!-- count selection-->
      <select (change)="selectAccount($event)" class="form-control">
        <option *ngFor="let acct of accounts" value={{acct.account}} [selected]="isActiveAccount(acct.account)">
          {{acct.account}}</option>
      </select>
      <div class="title form-control">{{selectedCategory}}</div>
    </div>
    <div class="row">
      <!-- Left Panel-->
      <div class="col-2">
        <div class="list-group" *ngFor="let info of getCategoryInfo(); let i = index">
          <button *ngIf="info.category!=selectedCategory && info.sum>0" class="item"
            (click)="onCategoryChange(info.category)">
            {{info.category}} <span class="positive">{{info.sum | number: '1.2'}}</span> ({{info.count}})</button>
          <button *ngIf="info.category!=selectedCategory && !(info.sum>0)" class="item"
            (click)="onCategoryChange(info.category)">
            {{info.category}} <span class="negative">{{-info.sum | number: '1.2'}}</span> ({{info.count}})</button>
          <button *ngIf="info.category==selectedCategory && info.sum>0" class="active"
            (click)="onCategoryChange(info.category)">
            {{info.category}} <span class="positive">{{info.sum | number: '1.2'}}</span> ({{info.count}})</button>
          <button *ngIf="info.category==selectedCategory && !(info.sum>0)" class="active"
            (click)="onCategoryChange(info.category)">
            {{info.category}} <span class="negative">{{-info.sum | number: '1.2'}}</span> ({{info.count}})</button>
        </div>
      </div>
      <!-- Middle Panel-->
      <div class="col-5">
        <input disabled type="text" [(ngModel)]="json" class="form-control" />
        <button (click)="save()">Save</button>
        <button (click)="loadJson()">Load</button>
        <button (click)="backup()">Backup</button>
        <button (click)="resetCategory()">Reset</button>
        <button (click)="add()">Add({{selectRecordIndex}})</button>
        <label *ngIf="categorySum() != 0">
          <span *ngIf="categorySum()>0" class="positive">
            {{categorySum() | number: '1.2'}}
          </span>
          <span *ngIf="!(categorySum()>0)" class="negative">
            {{categorySum() | number: '1.2'}}
          </span>
          ({{category.records.length}})
        </label>
        <table class="table-hover" cdkDropList #categoryList="cdkDropList" [cdkDropListData]="category"
          [cdkDropListConnectedTo]="[recordList]" (cdkDropListDropped)="drop($event)">
          <thead>
            <tr>
              <th scope="col" (click)="sortCategory('date')">Date</th>
              <th scope="col" (click)="sortCategory('val')">Value</th>
              <th scope="col" (click)="sortCategory('merchant')">Merchant</th>
              <th scope="col" (click)="sortCategory('note')">Note</th>
            </tr>
          </thead>
          <tbody *ngFor="let record of category.records ; let i = index" cdkDrag>
            <tr (click)="onRowClick(i)" class="selective">
              <td><input class="date" type="text" [value]="record.date" (change)="onDataChange($event, 'date', i)" required minlength="4"></td>
              <td *ngIf="record.val>0"><input class="positive val align-right" type="text"
                  (change)="onDataChange($event, 'val', i)" [value]="record.val  | number: '1.2'"></td>
              <td *ngIf="!(record.val>0)"><input class="negative val align-right" type="text"
                  (change)="onDataChange($event, 'val', i)" [value]="record.val  | number: '1.2'"></td>
              <td><input class="date" type="text" [(ngModel)]="record.merchant"></td>
              <td><input class="date" type="text" [(ngModel)]="record.note"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Right Panel -->
      <div class="col-5">
        <input *ngIf="!srcErr" type="text" [(ngModel)]="src" class="form-control" (change)="srcChange(i)" />
        <input *ngIf="srcErr" type="text" [(ngModel)]="src" class="form-control fileErr" (change)="srcChange(i)" />
        <button (click)="loadSrc()">Load</button>
        Count: {{transactions.records.length}}
        <label *ngIf="transactionsSum() != 0">Sum:
          <span *ngIf="transactionsSum()>0" class="positive">
            {{transactionsSum() | number: '1.2'}}
          </span>
          <span *ngIf="!(transactionsSum()>0)" class="negative">
            {{transactionsSum() | number: '1.2'}}
          </span>
        </label>
        <table id="transactions" class="table-hover" cdkDropList #recordList="cdkDropList"
          [cdkDropListData]="transactions" [cdkDropListConnectedTo]="[categoryList]"
          (cdkDropListDropped)="drop($event)">
          <thead>
            <tr>
              <th scope="col" (click)="sortTransaction('date')">Date</th>
              <th scope="col" (click)="sortTransaction('val')">Value</th>
              <th scope="col" (click)="sortTransaction('merchant')">Merchant</th>
              <th scope="col" (click)="sortTransaction('note')">Note</th>
            </tr>
          </thead>
          <tbody *ngFor="let record of transactions.records" cdkDrag>
            <tr>
              <td class="date">{{record.date}}</td>
              <td *ngIf="record.val>0" class="positive val  align-right">{{record.val  | number: '1.2' }}</td>
              <td *ngIf="!(record.val>0)" class="negative val align-right">{{record.val  | number: '1.2'}}</td>
              <td>{{record.merchant}}</td>
              <td>{{record.note}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>