.positive {
    color: green;
}
.negative {
    color: red;
}
.fileErr {
    color: red;
}
.active {
    color: blue;
    text-align: left;
}

.title {
    text-align: center;
    background-color: blue;
    color: white;
}
.item {
    background-color: grey;
    color: white;
    text-align: left;
}
.item:hover {
    background-color: blue;
    color: white;
    text-align: left;
}
.date{
    width: 80px;
}
.val{
    width: 60px;
}
.align-right{
    text-align: right;
}