.positive {
    color: green;
}
.negative {
    color: red;
}

.a:active {
    background-color: blue;

}
.a:hover {
    background-color: blue;

}
.title {
    text-align: center;
    background-color: blue;
    color: white;
}